         
         
         
         
 <div class="mx-auto col-md-6 ">

                <div class="custom-file breadcrumb ">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Image file</label>
                </div>

                <div class="custom-file breadcrumb">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Music file</label>
                </div>

                <div class="form-group ">
                    <label for="inputCity">Title</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>

                <div class="form-group ">
                    <label for="inputState">Tags</label>
                    <select id="inputState" class="form-control">
                        <option selected>Tags...</option>
                        <option>...</option>
                    </select>
                </div>

                <div class="form-group ">
                    <label for="inputState">Categories</label>
                    <select id="inputState" class="form-control">
                        <option selected>Categories...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>