{% extends 'base.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/episodes.css' %}">
    <link rel="stylesheet" href="{% static 'styles/episodes_responsive.css' %}">
{% endblock %}




{% block content %}
    <div class="home">
        <div class="parallax_background parallax-window" data-parallax="scroll"
             data-image-src="{% static 'images/about.jpg' %}"
             data-speed="0.8"></div>
        <div class="home_container d-flex flex-column align-items-center justify-content-center">
            <div class="home_content">
                <div class="home_title"><h1>Add Music</h1></div>
            </div>
        </div>
    </div>

    <div class="episodes">
        <div class="container">
            <div class="mx-auto col-md-8 ">
                <div class="custom-file breadcrumb ">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Image file</label>
                </div>

                <div class="custom-file breadcrumb">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Music file</label>
                </div>

                <div class="form-group ">
                    <label for="inputCity">Title</label>
                    <input type="text" class="form-control" placeholder="Title..." id="inputCity">
                </div>

                <div class="form-group ">
                    <label for="inputState">Tags</label>
                    <select id="inputState" class="form-control">
                        <option selected>Tags...</option>
                        <option>...</option>
                    </select>
                </div>

                <div class="form-group ">
                    <label for="inputState">Categories</label>
                    <select id="inputState" class="form-control">
                        <option selected>Categories...</option>
                        <option>...</option>
                    </select>
                </div>
                <a href="{% url 'episode:list' %}" class="btn btn-primary btn-lg active text-sm-center "
                   role="button" aria-pressed="true">Add
                    music</a>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"
            integrity="sha512-g0etrk7svX8WYBp+ZDIqeenmkxQSXjRDTr08ie37rVFc99iXFGxmD0/SCt3kZ6sDNmr8sR0ISHkSAc/M8rQBqg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"
            integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/episodes.js' %}"></script>
{% endblock %}